<section class="page-title-block text-center">
    <div class="container">
        <h2>Contact</h2>
        <div class="thm-breadcrumb">
            <a href="index.html">Home</a>
            <span class="sep">/</span>
            <span class="page-title">Contact</span>
        </div>
        <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-title-block -->
<section class="contact-info-style-one">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">Contact</span>
            <!-- /.tag-line -->
            <h2>Contact Info</h2>
        </div>
        <!-- /.title-block -->
        <div class="row high-gutter">
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block">
                        <i class="cameron-icon-placeholder"></i>
                        <h3>Our Location</h3>
                        <p>PO Box 16122 Collins Street <br> West Victoria 8007 Canada</p>
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block">
                        <i class="cameron-icon-smartphone"></i>
                        <h3>Call Us Now</h3>
                        <p>(+48) 564-334-21-22-34 <br> (+48) 564-334-21-25</p>
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block">
                        <i class="cameron-icon-opened-email-outlined-interface-symbol"></i>
                        <h3>Write Us Now</h3>
                        <p>info@Cameron.com <br> info@example.com</p>
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact-info-style-one -->
<section class="contact-form-wrapper">
    <div class="container">
        <div class="inner-container">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="google-map" id="contact-page-map" data-map-lat="40.712784" data-map-lng="-74.005941" data-icon-path="images/resources/map-marker-1-1.png" data-map-title="Brooklyn, New York, United Kingdom" data-map-zoom="11" data-markers='{
    "marker-1": [40.712784, -74.005941, "<h4>Main Office</h4><p>Babylon Branch , Lindenhurst, UK</p>"],
    "marker-2": [40.728157, -74.077642, "<h4>Branch Office</h4> <p>291 Park Ave S, East Meadow, UK</p>"]
}'>
                    </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6 d-flex">
                    <div class="contact-form-block my-auto">
                        <div class="title-block">
                            <span class="tag-line">Write Message</span>
                            <!-- /.tag-line -->
                            <h2>Get In Touch</h2>
                        </div>
                        <!-- /.title-block -->
                        <form action="http://ashik.templatepath.net/cameron-main-html/inc/sendemail.php" class="contact-form-one contact-form-validated">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="text" name="email" placeholder="Your Email">
                            <textarea placeholder="Your Message" name="message"></textarea>
                            <button type="submit">Submit Now</button>
                        </form>
                    </div>
                    <!-- /.contact-form-block -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner-container -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact-form-wrapper -->
<section class="brands-area-one home-two">
    <div class="container">
        <div class="brands-carousel-one owl-carousel owl-theme">
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
        </div>
        <!-- /.brands-carousel-one -->
    </div>
    <!-- /.container -->
</section>