<section class="page-title-block-contact text-center">
    <div class="container">
        <h2>Contact</h2>
        <div class="thm-breadcrumb">
            <a href="index.html">Home</a>
            <span class="sep">/</span>
            <span class="page-title">Contact</span>
        </div>
        <!-- <button _ngcontent-tui-c1="" class="custom-btn small blue rounded-0 p-2 pl-4 pr-4 mt-4" routerlink="/support" tabindex="0" ng-reflect-router-link="/support">Support</button> -->
        <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-title-block -->
<section class="contact-info-style-one">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">Contact</span>
            <!-- /.tag-line -->
            <h2>Contact Info</h2>
        </div>
        <!-- /.title-block -->
        <div class="row high-gutter">
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block">
                        <i class="cameron-icon-placeholder"></i>
                        <h3>Our Location</h3>
                        <p>Atrium Tower 8-B Industrial Area <br> Mohali Punjab India Pin 160055</p>
                        <p>(+91) 98721-32071 <br></p>
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block">
                        <i class="cameron-icon-opened-email-outlined-interface-symbol"></i>
                        <h3>Write Us Now</h3>
                        <p>support@gpsomnitracker.com <br> info@gpsomnitracker.com</p>
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <div class="col-lg-4">
                <div class="single-contact-info-one text-center">
                    <div class="inner-block w-100">
                        <!-- <b _ngcontent-tui-c4="">Support</b> -->
                        <h3>Support <span><p _ngcontent-tui-c4="" class="mt-2">Request</p></span></h3>
                        <a _ngcontent-tui-c4="" class="custom-btn  blue pl-0 pr-0" routerLink="/support" routerLinkActive="active">Open a New Ticket</a>
                        <a _ngcontent-tui-c4="" class="custom-btn  blue pl-0 pr-0" routerLink="/support" routerLinkActive="active">Check Status</a>
                        <!-- <p _ngcontent-tui-c4="">Remote Access</p> -->
                        <!-- <i class="cameron-icon-smartphone"></i>
                        <h3>Call Us Now</h3>
                        <p>(+91) 98721-32071 <br></p> -->
                    </div>
                    <!-- /.inner-block -->
                </div>
                <!-- /.single-contact-info-one -->
            </div>
            <!-- /.col-lg-4 -->

            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact-info-style-one -->
<section class="contact-form-wrapper">
    <div class="container">
        <div class="inner-container">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.4085190041205!2d76.6827726146101!3d30.706913893928657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fef33ccca8ff5%3A0x2fe16860df32b04!2sAtrium%20204%20%7C%20Tech%20Park%2C%20Mohali!5e0!3m2!1sen!2sin!4v1586164688640!5m2!1sen!2sin"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    <!-- <div class="google-map" id="contact-page-map" data-map-lat="40.712784" data-map-lng="-74.005941" data-icon-path="images/resources/map-marker-1-1.png" data-map-title="Brooklyn, New York, United Kingdom" data-map-zoom="11" data-markers='{
    "marker-1": [40.712784, -74.005941, "<h4>Main Office</h4><p>Babylon Branch , Lindenhurst, UK</p>"],
    "marker-2": [40.728157, -74.077642, "<h4>Branch Office</h4> <p>291 Park Ave S, East Meadow, UK</p>"]
}'>
                    </div> -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6 d-flex">
                    <div class="contact-form-block my-auto">
                        <div class="title-block">
                            <span class="tag-line">Write Message</span>
                            <!-- /.tag-line -->
                            <h2>Get In Touch</h2>
                        </div>
                        <!-- /.title-block -->
                        <form action="http://ashik.templatepath.net/cameron-main-html/inc/sendemail.php" class="contact-form-one contact-form-validated">
                            <input type="text" name="name" placeholder="Your Name">
                            <input type="text" name="email" placeholder="Your Email">
                            <textarea placeholder="Your Message" name="message"></textarea>
                            <button type="submit">Submit Now</button>
                        </form>
                    </div>
                    <!-- /.contact-form-block -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.inner-container -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact-form-wrapper -->