<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-grounp m-0">
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2%     
                                            <i class="fal fa-long-arrow-up"></i>                                 
                                        <i _ngcontent-cyb-c5="" class="zmdi zmdi-long-arrow-up">
                                        </i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">121
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i _ngcontent-cyb-c5=""
                                            class="zmdi zmdi-long-arrow-up">
                                        </i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i _ngcontent-cyb-c5=""
                                            class="zmdi zmdi-long-arrow-up">
                                        </i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i _ngcontent-cyb-c5=""
                                            class="zmdi zmdi-long-arrow-up">
                                        </i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>