<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mt-3 mb-4">
            <div class="card-content">
                <div class="row row-grounp m-0">
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2%
                                        <i class="fas fa-long-arrow-alt-up"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">121
                                <span class="float-right">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i
                                            class="fas fa-long-arrow-alt-up"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i class="fab fa-envira"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i
                                            class="fas fa-long-arrow-alt-up"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">1221
                                <span class="float-right">
                                    <i _ngcontent-cyb-c5="" class="fa fa-shopping-cart"></i>
                                </span>
                            </h5>
                            <div class="my-3">
                                <div class="progress" style="height: 3px;">
                                    <div aria-valuemin="0" role="progressbar" class="progress-bar bg-white"
                                        aria-valuenow="55" aria-valuemax="100" style="width: 55%;">
                                    </div>
                                </div>
                                <p></p>
                                <p _ngcontent-cyb-c5="" class="mb-0 text-white small-font">
                                    Total Orders
                                    <span _ngcontent-cyb-c5="" class="float-right">+4.2% <i
                                            class="fas fa-long-arrow-alt-up"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        Site Traffic
                        <div class="card-action">
                            <div class="dropdown">
                                <!-- <div _ngcontent-cyb-c5="" class="show dropdown" ngbdropdown=""> -->
                                <a _ngcontent-cyb-c5="" aria-haspopup="true"
                                    class="dropdown-toggle dropdown-toggle-nocaret dropdown-toggle" href="javascript:;"
                                    id="dropdownBasic4" ngbdropdowntoggle="" aria-expanded="true">
                                    <i _ngcontent-cyb-c5="" class="icon-options"></i>
                                </a>
                                <div _ngcontent-cyb-c5="" aria-labelledby="dropdownBasic4"
                                    class="dropdown-menu dropdown-menu-right show" ngbdropdownmenu=""
                                    x-placement="bottom-left"
                                    style="top: 0px; left: 0px; will-change: transform; position: absolute; transform: translate(0px, 19px);">
                                    <a _ngcontent-cyb-c5="" class="dropdown-item" href="javascript:;"
                                        ngbdropdownitem="">Action</a>
                                    <a _ngcontent-cyb-c5="" class="dropdown-item" href="javascript:;"
                                        ngbdropdownitem="">Another
                                        action</a>
                                    <a _ngcontent-cyb-c5="" class="dropdown-item" href="javascript:;"
                                        ngbdropdownitem="">Something else here</a>
                                    <div _ngcontent-cyb-c5="" class="dropdown-divider">
                                    </div>
                                    <a _ngcontent-cyb-c5="" class="dropdown-item" href="javascript:;"
                                        ngbdropdownitem="">Separated link
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="show dropdown">

                                            </div> -->
                        </div>
                    </div>
                </div>
            
            <div _ngcontent-cvu-c5="" class="card-body newcard-body">
                <ul _ngcontent-cvu-c5="" class="list-inline">
                    <li _ngcontent-cvu-c5="" class="list-inline-item">
                        <i _ngcontent-cvu-c5="" class="fa fa-circle mr-2 text-white"></i>
                        New Visitor</li>
                    <li _ngcontent-cvu-c5="" class="list-inline-item">
                        <i _ngcontent-cvu-c5="" class="fa fa-circle mr-2 text-light"></i>
                        Old Visitor</li>
                </ul>
                <div _ngcontent-cvu-c5="" class="chart-container-1">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class="">
                            </div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class="">
                            </div>
                        </div>
                    </div>


                    <div class="flex">
                            <div class="flex-item">
                              <div style="display: block;">
                              <canvas baseChart  width="651" height="260"
                                          [datasets]="lineChartData"
                                          [labels]="lineChartLabels"
                                          [options]="lineChartOptions"
                                          [colors]="lineChartColors"
                                          [legend]="lineChartLegend"
                                          [chartType]="lineChartType"
                                          [plugins]="lineChartPlugins"
                                          (chartHover)="chartHovered($event)"
                                          (chartClick)="chartClicked($event)"></canvas>
                              </div>
                            </div>
                            <!-- <div class="flex-item">
                              <table class="table table-responsive table-condensed">
                                <tr>
                                  <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                </tr>
                                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                                  <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                </tr>
                              </table>
                              <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
                              <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
                              <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
                              <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>
                              <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
                            </div> -->
                          </div>
                    <!-- <canvas _ngcontent-cvu-c5="" basechart="" style="display: block; width: 651px; height: 260px;"
                        class="chartjs-render-monitor" width="651" height="260">
                    </canvas> -->
                </div>
            </div>
            <div _ngcontent-mnx-c5="" class="row m-0 row-group text-center border-top border-light-3">
                    <div _ngcontent-mnx-c5="" class="col-12 col-lg-4 border-light">
                        <div _ngcontent-mnx-c5="" class="p-3">
                            <h5 _ngcontent-mnx-c5="" class="mb-0">45.87M</h5>
                            <small _ngcontent-mnx-c5="" class="mb-0">
                                Overall Visitor 
                                <span _ngcontent-mnx-c5="">
                                    <i _ngcontent-mnx-c5="" class="fa fa-arrow-up"></i>
                                    2.43%
                                </span>
                            </small>
                        </div>
                    </div>
                    <div _ngcontent-mnx-c5="" class="col-12 col-lg-4 border-light">
                        <div _ngcontent-mnx-c5="" class="p-3">
                            <h5 _ngcontent-mnx-c5="" class="mb-0">15:48</h5>
                            <small _ngcontent-mnx-c5="" class="mb-0">
                                Visitor Duration 
                                <span _ngcontent-mnx-c5="">
                                    <i _ngcontent-mnx-c5="" class="fa fa-arrow-up"></i>
                                    12.65%
                                </span>
                            </small>
                        </div>
                    </div>
                    <div _ngcontent-mnx-c5="" class="col-12 col-lg-4 border-light">
                        <div _ngcontent-mnx-c5="" class="p-3">
                            <h5 _ngcontent-mnx-c5="" class="mb-0">
                                245.65
                            </h5>
                            <small _ngcontent-mnx-c5="" class="mb-0">
                                Pages/Visit
                                <span _ngcontent-mnx-c5="">
                                    <i _ngcontent-mnx-c5="" class="fa fa-arrow-up"></i>
                                    5.62%
                                </span>
                            </small>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
