<div class="container">
    <div class="g-card">
        <div class="row">
            <div class="col-md-8">
                <div class="block-title">
                    <h1>AVL hardware</h1>
                </div>
                <div class="block-content">
                    <p>Being one of the most popular GPS tracker types among Wialon users, automatic vehicle locators (or car trackers) provide real-time unit location, speed, and other parameters which are essential for high-quality tracking.</p>
                    <p>At this page you can see the list of GPS vehicle trackers, compatible with Wialon system.</p>
                </div>
                <div class="row">
                    <div class="search col-xs-9 col-sm-10">
                        <form method="get" action="/en/gps-hardware/auto?viewType=grid&amp;_pjax=%23p0" data-pjax="1">
                            <div class="input-group">
                                <input type="text" id="w3" class="form-control" name="q" value="" placeholder="Search hardware" autocomplete="off"> <input type="hidden" name="viewType" value="grid"> <span class="input-group-btn">
                <!-- <button class="btn btn-primary icon-search" type="submit"></button> -->
                <button class="btn btn-primary icon-search" type="submit"><i class="fas fa-search"></i></button>
            </span>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="view-switcher col-xs-3 col-sm-2 text-right pt-3">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-th-large"></i></a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-list pr-2"></i></a>
                    </div> -->
                    <div class="">
                        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
                            <a class="nav-link active relative mt-12" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fas fa-th-large"></i></a>
                            <a class="nav-link absolut mt-6 pad-set" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-list pr-2"></i></a>

                        </div>
                    </div>


                    <section class="">
                        <div class="">
                            <!-- <div class="title-block">
                                <span class="tag-line">Proccess</span>
                                <h2></h2>
                            </div> -->

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="tab-content " id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <div class="single-working-process-one wow fadeInUp pr-3" data-wow-duration="1300ms" data-wow-delay="0ms">
                                                <div id="w4" class="grid row hw pl-20">
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="0">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/navtelecom-smart-s-24xx" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/17362648/Navtelecom SMART S-24xx.png" alt="Navtelecom SMART S-24xx"></a><a class="grid-item-header" href="/en/gps-hardware/auto/navtelecom-smart-s-24xx"
                                                                data-pjax="0">Navtelecom SMART S-24xx</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="1">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmb920" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/14674577/FMB920.png" alt="Teltonika FMB920"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmb920" data-pjax="0">Teltonika FMB920</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="2">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmb120" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15624596/FMb120-250x250.png" alt="Teltonika FMB120"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmb120" data-pjax="0">Teltonika FMB120</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="3">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmb125" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15623892/FMb125-250x250.png" alt="Teltonika FMB125"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmb125" data-pjax="0">Teltonika FMB125</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="4">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/arnavi" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/604476/5d52b2bfaf06c.png" alt="Arnavi"></a><a class="grid-item-header" href="/en/gps-hardware/auto/arnavi" data-pjax="0">Arnavi</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="5">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/bce-fms500-stcan" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/17222458/5df9dd1e8db42.png" alt="BCE FMS500 StCAN"></a><a class="grid-item-header" href="/en/gps-hardware/auto/bce-fms500-stcan" data-pjax="0">BCE FMS500 StCAN</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="6">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/galileosky-70" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15476224/Galileosky 7.png" alt="Galileosky 7.0"></a><a class="grid-item-header" href="/en/gps-hardware/auto/galileosky-70" data-pjax="0">Galileosky 7.0</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="7">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmu130" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/19540368/5d1f071132e21.png" alt="Teltonika FMU130"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmu130" data-pjax="0">Teltonika FMU130</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="8">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/navtelecom-signal-s-26xx" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/19904471/5d84890d80186.png" alt="Navtelecom Signal S-26xx"></a><a class="grid-item-header" href="/en/gps-hardware/auto/navtelecom-signal-s-26xx" data-pjax="0">Navtelecom Signal S-26xx</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="9">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/sat-lite-4" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/16380891/IMG_8437.png" alt="SAT-LITE 4"></a><a class="grid-item-header" href="/en/gps-hardware/auto/sat-lite-4" data-pjax="0">SAT-LITE 4</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="10">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/bce-fm-500s-one" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15742136/5df9ddacd6ddd.png" alt="BCE FMS500 ONE"></a><a class="grid-item-header" href="/en/gps-hardware/auto/bce-fm-500s-one" data-pjax="0">BCE FMS500 ONE</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="11">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/queclink-gl300vc" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/13126677/GL300VC.png" alt="Queclink GL300VC"></a><a class="grid-item-header" href="/en/gps-hardware/auto/queclink-gl300vc" data-pjax="0">Queclink GL300VC</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="12">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/bce-fm-500s-light-plus" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15742260/5df9dd3e3bef0.png" alt="BCE FMS500 Light+"></a><a class="grid-item-header" href="/en/gps-hardware/auto/bce-fm-500s-light-plus" data-pjax="0">BCE FMS500 Light+</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="13">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/ruptela-fm-eco4-s" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/18388212/5bfbedc256779.png" alt="Ruptela FM Eco4 S"></a><a class="grid-item-header" href="/en/gps-hardware/auto/ruptela-fm-eco4-s" data-pjax="0">Ruptela FM Eco4 S</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="14">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/galileosky-base-block" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/13797737/base-block-min.png" alt="Galileosky Base Block"></a><a class="grid-item-header" href="/en/gps-hardware/auto/galileosky-base-block" data-pjax="0">Galileosky Base Block</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="15">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/ruptela-fm-eco4-light" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/12989476/5bf27507a1a4f.png" alt="Ruptela FM Eco4 Light"></a><a class="grid-item-header" href="/en/gps-hardware/auto/ruptela-fm-eco4-light" data-pjax="0">Ruptela FM Eco4 Light</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="16">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/concox-gt06e" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/13640986/G06E.png" alt="Concox GT06E"></a><a class="grid-item-header" href="/en/gps-hardware/auto/concox-gt06e" data-pjax="0">Concox GT06E</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="17">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/bce-fm-500s-light" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15742219/5df9dd6c12344.png" alt="BCE FMS500 Light"></a><a class="grid-item-header" href="/en/gps-hardware/auto/bce-fm-500s-light" data-pjax="0">BCE FMS500 Light</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="18">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmb202" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/17557314/FMB202-new-600.png" alt="Teltonika FMB202"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmb202" data-pjax="0">Teltonika FMB202</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="19">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/wetrack-2" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/13149171/5d14558b0f1ad.png" alt="WeTrack 2"></a><a class="grid-item-header" href="/en/gps-hardware/auto/wetrack-2" data-pjax="0">WeTrack 2</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="20">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/topflytech-tlw1-10ae" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/18076807/5ba49e9a68856.jpg" alt="Topflytech TLW1-10A/E"></a><a class="grid-item-header" href="/en/gps-hardware/auto/topflytech-tlw1-10ae" data-pjax="0">Topflytech TLW1-10A/E</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="21">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/umka301" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/16315146/5c25ddb0a1cb2.png" alt="UMKa301"></a><a class="grid-item-header" href="/en/gps-hardware/auto/umka301" data-pjax="0">UMKa301</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="22">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/umka310" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/18762835/5c651258732e2.png" alt="UMKa310"></a><a class="grid-item-header" href="/en/gps-hardware/auto/umka310" data-pjax="0">UMKa310</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="23">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/topflytech-tlp1-sf" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/18944516/5c8bae93686f8.jpg" alt="Topflytech TLP1-SF"></a><a class="grid-item-header" href="/en/gps-hardware/auto/topflytech-tlp1-sf" data-pjax="0">Topflytech TLP1-SF</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="24">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/suntech-st310u" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/15751749/st310u.png" alt="Suntech ST310U"></a><a class="grid-item-header" href="/en/gps-hardware/auto/suntech-st310u" data-pjax="0">Suntech ST310U</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="25">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/teltonika-fmb640" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/18433531/5c0a5b6281df2.png" alt="Teltonika FMB640"></a><a class="grid-item-header" href="/en/gps-hardware/auto/teltonika-fmb640" data-pjax="0">Teltonika FMB640</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="26">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/adm333" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/19425002/5d023dc60666f.png" alt="ADM333"></a><a class="grid-item-header" href="/en/gps-hardware/auto/adm333" data-pjax="0">ADM333</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="27">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/queclink-gv50m" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/17515074/GV50.jpg" alt="Queclink GV50M"></a><a class="grid-item-header" href="/en/gps-hardware/auto/queclink-gv50m" data-pjax="0">Queclink GV50M</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="28">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/mielta-m1" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/17244933/m1.jpg" alt="MIELTA M1"></a><a class="grid-item-header" href="/en/gps-hardware/auto/mielta-m1" data-pjax="0">MIELTA M1</a></div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 grid-item" data-key="29">
                                                        <div class="grid-item-box">
                                                            <a class="grid-item-image" href="/en/gps-hardware/auto/mt865st868" data-pjax="0"><img src="//hwdb-api.gurtam.com/images/20243694/5dfc7abe238af.png" alt="MT865/ST868"></a><a class="grid-item-header" href="/en/gps-hardware/auto/mt865st868" data-pjax="0">MT865/ST868</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade mt-30 pl-20" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                                                <table>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>Device</th>
                                                        <th>Manufacturer</th>
                                                        <th>Dynamics</th>
                                                        <th>Total units</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Maria Anders</td>
                                                        <td>Germany</td>
                                                        <td>Maria Anders</td>
                                                        <td>Germany</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Francisco Chang</td>
                                                        <td>Mexico</td>
                                                        <td>Francisco Chang</td>
                                                        <td>Mexico</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Roland Mendel</td>
                                                        <td>Austria</td>
                                                        <td>Roland Mendel</td>
                                                        <td>Austria</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Helen Bennett</td>
                                                        <td>UK</td>
                                                        <td>Helen Bennett</td>
                                                        <td>UK</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Yoshi Tannamuri</td>
                                                        <td>Canada</td>
                                                        <td>Yoshi Tannamuri</td>
                                                        <td>Canada</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                        <td>Giovanni Rovelli</td>
                                                        <td>Italy</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-offset-1 col-md-11 hidden-sm hidden-xs">
                        <div class="box hw-menu">
                            <div class="box-border box-border-red"></div>
                            <ul>
                                <li><a href="https://gurtam.com/en/gps-hardware/auto">AVL hardware</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/mobile">Mobile software</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/personal">Personal trackers</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/video">Video monitoring</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/asset">Asset trackers</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/soft">Protocols and retranslators</a></li>
                                <li><a href="https://gurtam.com/en/gps-hardware/obd">OBD trackers</a></li>
                                <li><a href="https://gurtam.com/en/tachographs">Tachographs</a></li>
                                <li><a href="https://gurtam.com/en/sensors">Additional hardware</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-1">
                    <div class="box-border box-border-blue"></div>
                    <div class="filter">
                        <form id="w2" action="/en/gps-hardware/auto" method="get" data-pjax="1">
                            <input type="hidden" name="viewType" value="grid">
                            <div class="caps-collapse" id="specification">
                                <div class="form-group field-caps">
                                    <label class="control-label">Features of the device:</label>
                                    <div id="caps">
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-0" name="caps[]" value="bbox_auto"><label for="specification-checked-0">Blackbox</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-1" name="caps[]" value="voice"><label for="specification-checked-1">Voice calls</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-2" name="caps[]" value="3g"><label for="specification-checked-2">3G</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-3" name="caps[]" value="magnetic"><label for="specification-checked-3">Magnetic mounting</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-4" name="caps[]" value="sattelite"><label for="specification-checked-4">Satellite terminal</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-5" name="caps[]" value="odometer"><label for="specification-checked-5">Built-in odometer</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-6" name="caps[]" value="dualsim"><label for="specification-checked-6">Dual SIM</label></div>
                                    </div>
                                    <div class="caps-more">
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-7" name="caps[]" value="multiple_servers"><label for="specification-checked-7">Sending data to multiple servers</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-8" name="caps[]" value="4g_lte"><label for="specification-checked-8">4G/LTE</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-9" name="caps[]" value="lorawan"><label for="specification-checked-9">LoRaWAN</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-10" name="caps[]" value="glonass"><label for="specification-checked-10">GLONASS support</label></div>
                                        <div class="checkbox"><input type="checkbox" id="specification-checked-11" name="caps[]" value="wifi"><label for="specification-checked-11">WiFi HotSpot</label></div>
                                    </div>

                                    <div class="help-block"></div>
                                </div>
                                <a class="show_linc" href="#" role="button">More</a>
                            </div>

                            <div class="caps-collapse" id="function">
                                <div class="form-group field-caps">
                                    <label class="control-label">Functionality in Wialon:</label>
                                    <div id="caps">
                                        <div class="checkbox"><input type="checkbox" id="function-checked-0" name="caps[]" value="udp"><label for="function-checked-0">Communication via UDP</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-1" name="caps[]" value="sos"><label for="function-checked-1">Alarm button</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-2" name="caps[]" value="gprs_req"><label for="function-checked-2">Remote management via GPRS</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-3" name="caps[]" value="ibutton"><label for="function-checked-3">Driver identification</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-4" name="caps[]" value="can"><label for="function-checked-4">CAN-bus support</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-5" name="caps[]" value="driver_msg"><label for="function-checked-5">Communication with driver</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-6" name="caps[]" value="garmin"><label for="function-checked-6">Garmin support</label></div>
                                    </div>
                                    <div class="caps-more">
                                        <div class="checkbox"><input type="checkbox" id="function-checked-7" name="caps[]" value="camera"><label for="function-checked-7">Camera connection</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-8" name="caps[]" value="tacho"><label for="function-checked-8">Tachograph file download</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-9" name="caps[]" value="accel"><label for="function-checked-9">Accelerometer</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-10" name="caps[]" value="eco_drv"><label for="function-checked-10">ECO driving</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-11" name="caps[]" value="adc"><label for="function-checked-11">ADC sensors</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-12" name="caps[]" value="video"><label for="function-checked-12">Video</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-13" name="caps[]" value="sms_in"><label for="function-checked-13">SMS sending of data</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-14" name="caps[]" value="lbs"><label for="function-checked-14">LBS</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-15" name="caps[]" value="inputs"><label for="function-checked-15">Digital sensors</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-16" name="caps[]" value="sms_req"><label for="function-checked-16">Remote management via SMS</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-17" name="caps[]" value="tcp"><label for="function-checked-17">Communication via TCP</label></div>
                                        <div class="checkbox"><input type="checkbox" id="function-checked-18" name="caps[]" value="mobileye_support"><label for="function-checked-18">MobilEye support</label></div>
                                    </div>

                                    <div class="help-block"></div>
                                </div>
                                <a class="show_linc" href="#" role="button">More</a>
                            </div>

                            <div class="form-group">
                                <button type="button" id="reset-btn" class="form-control btn btn-basic">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row hw">
                    <div id="p0" data-pjax-container="" data-pjax-push-state="" data-pjax-timeout="5000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>