<section class="page-title-block text-center">
    <div class="container">
        <h2>Pricing Table</h2>
        <div class="thm-breadcrumb">
            <a href="index.html">Home</a>
            <span class="sep">/</span>
            <span class="page-title">Pricing</span>
        </div>
        <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-title-block -->
<section class="pricing-style-one pricing-page">
    <div class="container">
        <div class="title-block text-center ">
            <span class="tag-line">Planning</span>
            <!-- /.tag-line -->
            <h2>Pricing Table</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt <br> mollit anim id est laborum.</p>
        </div>
        <!-- /.title-block -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-pricing-style-one text-center  wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="0ms">
                    <div class="top-block">
                        <p>Standerd Plan</p>
                        <h3>Basic Service</h3>
                        <span class="price">$39</span>
                    </div>
                    <!-- /.top-block -->
                    <div class="bottom-block">
                        <ul class="feature-list">
                            <li><i class="fa fa-check"></i>1 Bathroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Up to 3 Bedrooms Cleaning</li>
                            <li><i class="fa fa-check"></i>1 Livingroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Kitchen Cleaning</li>
                        </ul>
                        <!-- /.feature-list -->
                        <div class="button-block">
                            <a href="#" class="thm-btn">Purchase Now</a>
                        </div>
                        <!-- /.button-block -->
                    </div>
                    <!-- /.bottom-block -->
                </div>
                <!-- /.single-pricing-style-one -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-pricing-style-one text-center popular-pricing wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                    <div class="top-block">
                        <p>Standerd Plan</p>
                        <h3>Premium Service</h3>
                        <span class="price">$49</span>
                    </div>
                    <!-- /.top-block -->
                    <div class="bottom-block">
                        <ul class="feature-list">
                            <li><i class="fa fa-check"></i>1 Bathroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Up to 3 Bedrooms Cleaning</li>
                            <li><i class="fa fa-check"></i>1 Livingroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Kitchen Cleaning</li>
                        </ul>
                        <!-- /.feature-list -->
                        <div class="button-block">
                            <a href="#" class="thm-btn">Purchase Now</a>
                        </div>
                        <!-- /.button-block -->
                    </div>
                    <!-- /.bottom-block -->
                </div>
                <!-- /.single-pricing-style-one -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-pricing-style-one text-center  wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                    <div class="top-block">
                        <p>Standerd Plan</p>
                        <h3>Platinum Service</h3>
                        <span class="price">$79</span>
                    </div>
                    <!-- /.top-block -->
                    <div class="bottom-block">
                        <ul class="feature-list">
                            <li><i class="fa fa-check"></i>1 Bathroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Up to 3 Bedrooms Cleaning</li>
                            <li><i class="fa fa-check"></i>1 Livingroom Cleaning</li>
                            <li><i class="fa fa-check"></i>Kitchen Cleaning</li>
                        </ul>
                        <!-- /.feature-list -->
                        <div class="button-block">
                            <a href="#" class="thm-btn">Purchase Now</a>
                        </div>
                        <!-- /.button-block -->
                    </div>
                    <!-- /.bottom-block -->
                </div>
                <!-- /.single-pricing-style-one -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.pricing-style-one -->
<section class="brands-area-one home-two">
    <div class="container">
        <div class="brands-carousel-one owl-carousel owl-theme">
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
        </div>
        <!-- /.brands-carousel-one -->
    </div>
    <!-- /.container -->
</section>