<section class="page-title-block text-center">
    <div class="container">
        <h2>Private Security</h2>
        <div class="thm-breadcrumb">
            <a href="index.html">Home</a>
            <span class="sep">/</span>
            <span class="page-title">Service Details</span>
        </div>
        <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-title-block -->
<section class="blog-style-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="single-sidebar category-widget">
                        <div class="widget-title">
                            <h3>Our Services</h3>
                        </div>
                        <!-- /.widget-title -->
                        <ul class="category-list">
                            <li><a href="private.html">Private Security</a></li>
                            <li><a href="transport.html">Transport Security</a></li>
                            <li><a href="home.html">Home Security</a></li>
                            <li class="active"><a href="busniess.html">Business Security</a></li>
                            <li><a href="protocol.html">Protocol Duties</a></li>
                            <li><a href="armed.html">Armed Security</a></li>
                        </ul>
                        <!-- /.category-list -->
                    </div>
                    <!-- /.single-sidebar -->
                </div>
                <!-- /.sidebar -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <div class="service-details-content">
                    <div class="img-box">
                        <img src="./assets/images/services/single-service-1-1.jpg" alt="Awesome Image" />
                    </div>
                    <!-- /.img-box -->
                    <br />
                    <h3>Private Security</h3>
                    <br />
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa
                        quae ab illo inventore veritatis et quasi archite beatae vitae dicta sunt explicabo. nemo enim ipsam voluptatem quia voluptassit.aspernatur aut odit aut fugit.</p>
                    <br />
                    <p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore magnam aliquam quaerat voluptatem.</p>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Service Facilities</h4>
                            <br />
                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <br />
                            <ul class="checklist">
                                <li>Euismod vel molestie elit faucibus.</li>
                                <li>Vitae tincidunt felis pharetra.</li>
                                <li>Faucibus odio quis eleifend eros.</li>
                            </ul>
                            <!-- /.checklist -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <img src="./assets/images/services/single-service-1-2.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                    <br />
                    <p>Doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi archite beatae vitae dicta sunt explicabo. nemo enim ipsam voluptatem quia voluptassit.aspernatur aut odit aut fugit.</p>
                    <br />
                    <p>Sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
                </div>
                <!-- /.service-details-content -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.blog-style-three -->
<section class="brands-area-one home-two">
    <div class="container">
        <div class="brands-carousel-one owl-carousel owl-theme">
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
        </div>
        <!-- /.brands-carousel-one -->
    </div>
    <!-- /.container -->
</section>