<section class="page-title-block text-center">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="thm-breadcrumb">
            <a href="index.html">Home</a>
            <span class="sep">/</span>
            <span class="page-title">Testimonials</span>
        </div>
        <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-title-block -->
<section class="testimonials-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-1.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Ocie Saha</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-2.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Merlin Horn</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-3.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Stacy Bringhurst</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.testimonials-style-two -->
<section class="testimonials-style-one home-page-two">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">Testimonials</span>
            <!-- /.tag-line -->
            <h2>What Client Say</h2>
        </div>
        <!-- /.title-block -->
        <div class="owl-carousel owl-theme testi-carousel-one">
            <div class="item">
                <div class="single-testimonials-one">
                    <div class="image-block">
                        <img src="./assets/images/resources/testi1-1.jpg" alt="awesome image">
                    </div>
                    <!-- /.image-block -->
                    <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat cuidatat non proident sunt in culpa</p>
                    <h3>Walter Doyle</h3>
                    <p class="designation">Happy Client</p>
                    <!-- /.designation -->
                </div>
                <!-- /.single-testimonials-one -->
            </div>
            <!-- /.item -->
            <div class="item">
                <div class="single-testimonials-one">
                    <div class="image-block">
                        <img src="./assets/images/resources/testi1-2.jpg" alt="awesome image">
                    </div>
                    <!-- /.image-block -->
                    <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat cuidatat non proident sunt in culpa</p>
                    <h3>Loretta Bailey</h3>
                    <p class="designation">Happy Client</p>
                    <!-- /.designation -->
                </div>
                <!-- /.single-testimonials-one -->
            </div>
            <!-- /.item -->
            <div class="item">
                <div class="single-testimonials-one">
                    <div class="image-block">
                        <img src="./assets/images/resources/testi1-1.jpg" alt="awesome image">
                    </div>
                    <!-- /.image-block -->
                    <p>Lorem ipsum dolor sit amet constur adipisicing elit sed do eiusmtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco laboris nisi ut aliquip excepteur sint occaecat cuidatat non proident sunt in culpa</p>
                    <h3>Walter Doyle</h3>
                    <p class="designation">Happy Client</p>
                    <!-- /.designation -->
                </div>
                <!-- /.single-testimonials-one -->
            </div>
            <!-- /.item -->
        </div>
        <!-- /.owl-carousel owl-theme testi-carousel-one -->
    </div>
    <!-- /.container -->
</section>
<!-- /.testimonials-style-one -->
<section class="testimonials-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-1.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Ocie Saha</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-2.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Merlin Horn</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-testimonials-two">
                    <img src="./assets/images/resources/qoute-1-1.png" class="qoute-icon" alt="Awesome Image" />
                    <p>Lorem ipsum dolor sit amet cons tur adipisicing elit sed do eius mtempor incid et dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi ut aliquip excepteur sint occaecat cuidatat</p>
                    <div class="name-block">
                        <div class="image-block">
                            <img src="./assets/images/resources/testi1-3.jpg" alt="Awesome Image" />
                        </div>
                        <!-- /.image-block -->
                        <div class="content-block">
                            <h3>Stacy Bringhurst</h3>
                            <span>Happy Client</span>
                        </div>
                        <!-- /.content-block -->
                    </div>
                    <!-- /.name-block -->
                </div>
                <!-- /.single-testimonials-two -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.testimonials-style-two -->
<section class="brands-area-one home-two">
    <div class="container">
        <div class="brands-carousel-one owl-carousel owl-theme">
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-1.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-2.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-3.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-4.png" alt="awesome image">
            </div>
            <!-- /.item -->
            <div class="item">
                <img src="./assets/images/brands/brands-2-5.png" alt="awesome image">
            </div>
            <!-- /.item -->
        </div>
        <!-- /.brands-carousel-one -->
    </div>
    <!-- /.container -->
</section>