<div id="container" class="mb-5">
    <div id="header" class="pt-3 mt-5">
        <div class="pull-right flush-right">
            <p>
                Guest User |
                <a href="/login.php">Sign In</a>
            </p>
        </div>
        <a class="pull-left background-cl" id="logo" href="#" title="Support Center">
            <span class="valign-helper"></span>
            <img src="../assets/images/resources/omni.png" alt="iSource Support Team!">
        </a>
    </div>
    <section class="container">
        <div class=" shadow00">
            <div class="row w-80 mb-3 px-3 mt-2 colmn-direction">
                <div class="nav flex-column nav-pills pt-1 display-co" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Support Center Home </a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Open a New Ticket</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Check Ticket Status</a>
                    <!-- <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Accessibility</a>
                            <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Unique Selling Point</a> -->

                </div>
            </div>
            <div class="col-lg-12">
                <div class="tab-content " id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div style="padding: 0 !important;" class="single-working-process-one wow fadeInUp p-0" data-wow-duration="1300ms" data-wow-delay="0ms">
                            <div id="content">
                                <div id="landing_page">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-9 col-md-9">
                                            <div class="main-content">
                                                <div class="thread-body">
                                                    <h2>Welcome to the Support Center</h2>
                                                    <p> In order to streamline support requests and better serve you, we utilize a support ticket system. Every support request is assigned a unique ticket number which you can use to track the progress and
                                                        responses online. For your reference we provide complete archives and history of all your support requests. A valid email address is required to submit a ticket. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-3 col-md-3">
                                            <div class="sidebar pull-right mt-2">
                                                <div class="front-page-button flush-right">
                                                    <p>
                                                        <a style="display:block" class="blue button mb-3 p-1">Open a New Ticket</a>
                                                    </p>
                                                    <p>
                                                        <a style="display:block" class="green button p-1">Check Ticket Status</a>
                                                    </p>
                                                </div>
                                                <div class="content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                            <!-- <h3>Hardware Compatibility</h3> -->
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div id="content">
                                        <h5>Open a New Ticket</h5>
                                        <p>Please fill in the form below to open a new ticket.</p>
                                        <hr>
                                        <h3>Contact Information</h3>
                                        <hr>
                                        <label for="34607680d623e6"><span class="required">
                                                    Email Address <span class="error">*</span>
                                                </span> <br>
                                                <input type="email" placeholder="">
                                            </label>
                                        <hr>
                                        <label><span class="required">
                                                Full Name <span class="error">*</span>
                                            </span> <br>
                                            <input type="text"  maxlength="64" placeholder=""  value="">
                                        </label>
                                        <hr>
                                        <label><span class="required">
                                            Phone Number <span class="error">*</span>
                                        </span> <br>
                                        <input type="tel"
                                             value="">
                                            </label>
                                        <hr>
                                        <div class="form-header" style="margin-bottom:0.5em">
                                            <b>Help Topic</b>
                                        </div>
                                        <hr>
                                        <div class="form-header" style="margin-bottom:0.5em">
                                            <b>Captcha text</b>
                                        </div>

                                        <hr>
                                        <p class="buttons text-align-set">
                                            <input type="submit" value="Create Ticket">
                                            <input type="reset" name="reset" value="Reset">
                                            <input type="button" name="cancel" value="Cancel" onclick="javascript:">
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                        <div class="col-6 relative">
                                            <p>Omnitracker supports vehicle specific equipment, machines, stationary properties, people and you can find the best tool for every project.<br> Whereas the external hardware reads temperature, weight, angle, hundreds
                                                of other multi-faceted analytics tracking parameters.</p>
                                            <a routerLink="/provideservices" class="cta-btn mt-4 absolut">CHECK COMPATIBILITY</a>
                                        </div>
                                        <div class="col-6">
                                            <img src="./assets/images/blog/blog-2-1.jpg" alt="awesome image">
                                        </div>
                                    </div> -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                                    <div id="content">
                                        <h5>Check Ticket Status</h5>
                                        <p>Please provide your email address and a ticket number. An access link will be emailed to you.</p>
                                        <form id="clientLogin" class="p-0">
                                            <input type="hidden">
                                            <div>
                                                <div class="login-box">
                                                    <div><strong></strong></div>
                                                    <div>
                                                        <label for="email">Email Address:
                                                                <input id="email" placeholder="e.g. john.doe@osticket.com"
                                                                    type="text" name="lemail" size="30"
                                                                    class="nowarn"></label>
                                                    </div>
                                                    <div>
                                                        <label for="ticketno">Ticket Number:
                                                                <input id="ticketno" type="text" name="lticket"
                                                                    placeholder="e.g. 051243" size="30"
                                                                    class="nowarn"></label>
                                                    </div>
                                                    <p>
                                                        <input class="btn" type="submit" value="Email Access Link">
                                                    </p>
                                                </div>
                                                <div class="instructions">
                                                    Have an account with us? <a href="login.php">Sign In</a> or <a href="account.php?do=create"> register for an account </a> to access all your tickets. </div>
                                            </div>
                                        </form>
                                        <br>
                                        <p>
                                            If this is your first time contacting us or you've lost the ticket number, please <a href="open.php"> open a new ticket </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>