<div id="container" class="mb-5">
    <div id="header" class="pt-3 mt-5">
        <div class="pull-right flush-right">
            <p>
                Guest User |
                <a href="/login.php">Sign In</a>
            </p>
        </div>
        <a class="pull-left background-cl" id="logo" href="#" title="Support Center">
            <span class="valign-helper"></span>
            <img src="../assets/images/resources/omni.png" alt="iSource Support Team!">
            <!-- <img src="/logo.php" border="0" alt="iSource Support Team!"> -->
        </a>
    </div>
    <section class="">
        <div class="container">
            <!-- <div class="title-block">
                <span class="tag-line">Proccess</span>
                <h2></h2>
            </div> -->
            <div class="row shadow00">
                <div class="row w-100 mb-3 ml-3 mt-2">
                    <div class="nav flex-column nav-pills pt-1 display-co" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Support Center Home </a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Open a New Ticket</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Check Ticket Status</a>
                        <!-- <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Accessibility</a>
                        <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Unique Selling Point</a> -->

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="tab-content " id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="single-working-process-one wow fadeInUp pr-3" data-wow-duration="1300ms" data-wow-delay="0ms">
                                <!-- <h3>Platform for developers</h3> -->
                                <div id="content">
                                    <div id="landing_page">
                                        <div class="sidebar pull-right">
                                            <div class="front-page-button flush-right">
                                                <p>
                                                    <a href="open.php" style="display:block" class="blue button mb-3 p-1">Open a New Ticket</a>
                                                </p>
                                                <p>
                                                    <a href="view.php" style="display:block" class="green button p-1">Check Ticket Status</a>
                                                </p>
                                            </div>
                                            <div class="content"></div>
                                        </div>
                                        <div class="main-content">
                                            <div class="thread-body">
                                                <h2>Welcome to the Support Center</h2>
                                                <p> In order to streamline support requests and better serve you, we utilize a support ticket system. Every support request is assigned a unique ticket number which you can use to track the progress and responses
                                                    online. For your reference we provide complete archives and history of all your support requests. A valid email address is required to submit a ticket. </p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div>
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="row">
                                    <div class="col-6 relative">
                                        <p>You can easily integrate Wialon with other systems and become a basis for partner solutions. We wired the system with special tools to make the development process fast and easy.
                                            <br>Simple SDK – a software development kit to create Wialon-based solutions.
                                            <br>Open API – a tool to integrate Wialon with ERP and other third-party systems.</p>
                                        <a routerLink="/provideservices" class="cta-btn mt-4 absolut">PARTNER SOLUTIONS</a>
                                    </div>
                                    <div class="col-6">
                                        <img src="./assets/images/blog/blog-1-1.jpg" alt="awesome image">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                                <!-- <h3>Hardware Compatibility</h3> -->
                                <div id="content">

                                    <h5>Open a New Ticket</h5>
                                    <p>Please fill in the form below to open a new ticket.</p>
                                    <form id="ticketForm" method="post" action="open.php" enctype="multipart/form-data">
                                        <input type="hidden" name="__CSRFToken__" value="0d710a21564c99ac69b3faf252d4e94af846b85a"> <input type="hidden" name="a" value="open">
                                        <table width="800" cellpadding="1" cellspacing="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <hr>
                                                        <div class="form-header">
                                                            <h3>Contact Information</h3>
                                                            <!-- <div></div> -->
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top:10px;">
                                                        <label for="34607680d623e6"><span class="required">
                                               Email Address                            <span class="error">*</span>
                                           </span>            <br>
                                                   <input type="email" id="_34607680d623e6" size="40" maxlength="64" placeholder="" name="34607680d623e6" value="">
                                       </label> </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top:10px;">
                                                        <label for="7f26fa5aa70372"><span class="required">
                                               Full Name                            <span class="error">*</span>
                                           </span>            <br>
                                                   <input type="text" id="_7f26fa5aa70372" size="40" maxlength="64" placeholder="" name="7f26fa5aa70372" value="">
                                       </label> </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top:10px;">
                                                        <label for="42620a77e4acf4"><span class="required">
                                               Phone Number                            <span class="error">*</span>
                                           </span>            <br>
                                                   <input id="_42620a77e4acf4" type="tel" name="42620a77e4acf4" value=""></label> </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                    <td colspan="2">
                                                        <hr>
                                                        <div class="form-header" style="margin-bottom:0.5em">
                                                            <b>Help Topic</b>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <select id="topicId" name="topicId" onchange="javascript:
                                                   var data = $(':input[name]', '#dynamic-form').serialize();
                                                   $.ajax(
                                                     'ajax.php/form/help-topic/' + this.value,
                                                     {
                                                       data: data,
                                                       dataType: 'json',
                                                       success: function(json) {
                                                         $('#dynamic-form').empty().append(json.html);
                                                         $(document.head).append(json.media);
                                                       }
                                                     });">
                                               <option value="" selected="selected">— Select a Help Topic —</option>
                                               <option value="2">Feedback</option><option value="1">General Inquiry</option><option value="10">Report a Problem</option><option value="11">Report a Problem / Access Issue</option><option value="13">Request New User Account</option><option value="12">Request User Disable or Delete</option>            </select>
                                                        <font class="error">*&nbsp;</font>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody id="dynamic-form">
                                            </tbody>
                                            <tbody>
                                                <tr class="captchaRow">
                                                    <td class="required">CAPTCHA Text:</td>
                                                    <td>
                                                        <span class="captcha"><img src="captcha.php" border="0" align="left"></span> &nbsp;&nbsp;
                                                        <input id="captcha" type="text" name="captcha" size="6" autocomplete="off">
                                                        <em>Enter the text shown on the image.</em>
                                                        <font class="error">*&nbsp;</font>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <p class="buttons" style="text-align:center;">
                                            <input type="submit" value="Create Ticket">
                                            <input type="reset" name="reset" value="Reset">
                                            <input type="button" name="cancel" value="Cancel" onclick="javascript:
                                           $('.richtext').each(function() {
                                               var redactor = $(this).data('redactor');
                                               if (redactor &amp;&amp; redactor.opts.draftDelete)
                                                   redactor.draft.deleteDraft();
                                           });
                                           window.location.href='index.php';">
                                        </p>
                                    </form>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-6 relative">
                                        <p>Omnitracker supports vehicle specific equipment, machines, stationary properties, people and you can find the best tool for every project.<br> Whereas the external hardware reads temperature, weight, angle, hundreds
                                            of other multi-faceted analytics tracking parameters.</p>
                                        <a routerLink="/provideservices" class="cta-btn mt-4 absolut">CHECK COMPATIBILITY</a>
                                    </div>
                                    <div class="col-6">
                                        <img src="./assets/images/blog/blog-2-1.jpg" alt="awesome image">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                                <!-- <h3>Applications</h3> -->
                                <div id="content">

                                    <h5>Check Ticket Status</h5>
                                    <p>Please provide your email address and a ticket number. An access link will be emailed to you.</p>
                                    <form action="login.php" method="post" id="clientLogin">
                                        <input type="hidden" name="__CSRFToken__" value="0d710a21564c99ac69b3faf252d4e94af846b85a">
                                        <div style="display:table-row">
                                            <div class="login-box">
                                                <div><strong></strong></div>
                                                <div>
                                                    <label for="email">Email Address:
                                       <input id="email" placeholder="e.g. john.doe@osticket.com" type="text" name="lemail" size="30" value="" class="nowarn"></label>
                                                </div>
                                                <div>
                                                    <label for="ticketno">Ticket Number:
                                       <input id="ticketno" type="text" name="lticket" placeholder="e.g. 051243" size="30" value="" class="nowarn"></label>
                                                </div>
                                                <p>
                                                    <input class="btn" type="submit" value="Email Access Link">
                                                </p>
                                            </div>
                                            <div class="instructions">
                                                Have an account with us? <a href="login.php">Sign In</a> or <a href="account.php?do=create"> register for an account </a> to access all your tickets. </div>
                                        </div>
                                    </form>
                                    <br>
                                    <p>
                                        If this is your first time contacting us or you've lost the ticket number, please <a href="open.php"> open a new ticket </a></p>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-6 relative">
                                        <p> Omnitracker comes with the planned transport control system, distribution tracking, repair control feature, driver behaviour tracking screen, and many more. .
                                            <br>
                                            <p>
                                                <a routerLink="/provideservices" class="cta-btn mt-4 absolut">GO For IN-ONE</a>
                                    </div>
                                    <div class="col-6">
                                        <img src="./assets/images/blog/blog-2-2.jpg" alt="awesome image">
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                                
                                <div class="row">
                                    <div class="col-6 relative">
                                        <p>you can navigate the network from everywhere.<br> Using the smart devices: To continue monitoring on a smartphone or tablet we deliver a native mobile app. <br> SMS and email monitor events: feedback explains in
                                            depth what's going on with your money. <br>
                                            <p>
                                                <a routerLink="/provideservices" class="cta-btn mt-4 absolut">GO MOBILE</a>
                                    </div>
                                    <div class="col-6">
                                        <img src="./assets/images/blog/blog-3-6.jpg" alt="awesome image">
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                                
                                <div class="row">
                                    <div class="col-6 relative">
                                        <p>Omnitracker gives collaborators the patented formula for measuring fuel usage.
                                            <br> When you know the prices, the real fuel expended in varying conditions calculated by calculation will be demonstrated to the clients.<br>
                                            <a routerLink="/provideservices" class="cta-btn mt-4 absolut">Test IT</a>
                                    </div>
                                    <div class="col-6">
                                        <img src="./assets/images/blog/blog-3-3.jpg" alt="awesome image">
                                    </div>
                                </div>
                                <p>
                            </div>
                        </div> -->
                    </div>
                </div>

                <!-- <div class="col-lg-5 pl-0">
                        <div class="tab-content " id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <img src="./assets/images/services/service-1-1.jpg" alt="Awesome Image" />
                            </div>
                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <img src="./assets/images/resources/partnership-1.png" alt="Awesome Image" class="float-right" />
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                    </div> -->
            </div>




            <!-- <div class="working-process-wrap">
                    <div class="single-working-process-one wow fadeInUp pr-3" data-wow-duration="1300ms" data-wow-delay="0ms">
                        <h3>Platform for developers</h3>
                        <p>You can easily integrate Wialon with other systems and become a basis for partner solutions. We wired the system with special tools to make the development process fast and easy.
                            <br>Simple SDK – a software development kit to create Wialon-based solutions.
                            <br>Open API – a tool to integrate Wialon with ERP and other third-party systems.</p>
                        <a routerLink="/provideservices" class="cta-btn">PARTNER SOLUTIONS</a>
                    </div>
                    <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                        <h3>Hardware Compatibility</h3>
                        <p>Omnitracker supports vehicle specific equipment, machines, stationary properties, people and you can find the best tool for every project.<br> Whereas the external hardware reads temperature, weight, angle, hundreds of other multi-faceted
                            analytics tracking parameters.</p>
                        <a routerLink="/provideservices" class="cta-btn">CHECK COMPATIBILITY</a>
                    </div>
                    <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                        <h3>Applications</h3>
                        <p> Omnitracker comes with the planned transport control system, distribution tracking, repair control feature, driver behaviour tracking screen, and many more. .
                            <br>
                            <p>
                                <a routerLink="/provideservices" class="cta-btn">GO For IN-ONE</a>
                    </div>
        
                    <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                        <h3>Accessibility</h3>
                        <p>you can navigate the network from everywhere.<br> Using the smart devices: To continue monitoring on a smartphone or tablet we deliver a native mobile app. <br> SMS and email monitor events: feedback explains in depth what's going on with
                            your money. <br>
                            <p>
                                <a routerLink="/provideservices" class="cta-btn">GO MOBILE</a>
                    </div>
                    <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                        <h3>Unique Selling Point</h3>
                        <p>Omnitracker gives collaborators the patented formula for measuring fuel usage.
                            <br> When you know the prices, the real fuel expended in varying conditions calculated by calculation will be demonstrated to the clients.<br>
                            <a routerLink="/provideservices" class="cta-btn">Test IT</a>
                            <p>
                    </div>
                </div> -->
        </div>
    </section>
</div>