<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
        <div class="view w-100 opacity">
            <img src="./assets/images/background/analytics-computer.jpg" alt="Awesome Image" class="w-100" />
            <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"> -->
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h3-responsive">AI Enabled GPS tracking Software that work with any worldwide GPS Tracker</h1>
            <!-- <p>Secondary text</p> -->
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="">
            <div class="view w-100 opacity">
                <img src="./assets/images/background/sliderhome1.jpg" alt="Awesome Image" class="w-100 " />
                <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"> -->
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h1 class="h3-responsive">Spacious, flexible approaches for the Fleet Management</h1>
                <!-- <p>First text</p> -->
            </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="view w-100 opacity">
            <img src="./assets/images/background/carsattelite.png" alt="Awesome Image" class="w-100" />
            <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"> -->
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h3-responsive">Solve critical vehicle challenges with Real-Time Tracking</h1>
            <!-- <p>Secondary text</p> -->
        </div>
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
        <div class="view w-100 opacity">
            <img src="./assets/images/background/3.jpg" alt="Awesome Image" class="w-100" />
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h3-responsive">For all your tracking needs that work with any worldwide GPS Tracker</h1>
           
        </div>
    </mdb-carousel-item> -->
    <mdb-carousel-item>
        <div class="view w-100 opacity height-784">
            <img src="./assets/images/background/Check-Engine-Light.jpg" alt="Awesome Image" class="w-100" />
            <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide"> -->
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h1 class="h3-responsive">Engine monitoring with Diagnostic type OBD and CAN-Bus/ J-BUS</h1>
            <!-- <p>Secondary text</p> -->
        </div>
    </mdb-carousel-item>

    <!-- <mdb-carousel-item>
        <div class="view w-100">
            <img src="./assets/images/background/carsattelite.png" alt="Awesome Image" class="w-100" />
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-carousel-item> -->
</mdb-carousel>
<!-- /.main-banner-wrapper -->
<section class="service-style-one home-page-two">
    <div class="container">
        <div class="title-block-style-two text-center ">
            <span class="tag-line">Services</span>
            <!-- /.tag-line -->
            <h2>Service We Provide</h2>
            <p>GPS Omnitracker powered by Saibhang that provides a collection of full IoT technologies integrates hardware and software to add real-time monitoring, video monitoring, fuel monitoring, and Artificial intelligence to operations across diverse
                sizes and industries.</p>
        </div>
        <!-- /.title-block -->
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3" style="">
                <div class="services-element service-feature-box ">
                    <div class="service-media">
                        <img src="./assets/images/services/service-1-1.jpg" alt="Awesome Image" />
                        <a routerLink="/hardware" routerLinkActive="active" class="read-more02">
                            <span> Read more <i class="fa fa-chevron-right"></i> </span>
                        </a>
                    </div>
                    <div class="service-body">
                        <div class="custom-heading">
                            <a routerLink="/hardware" routerLinkActive="active">
                                <h4>Fleet Dash-Cams</h4>
                            </a>
                        </div>
                        <p>Help to secure your company with maximum visibility of your vehicles. Record crucial events with cloud-connected, continuously captured footage, and instantly find the clips you need to learn in minutes what really happened. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="">
                <div class="services-element service-feature-box ">
                    <div class="service-media">
                        <img src="./assets/images/services/service-1-2.jpg" alt="Awesome Image" />
                        <a routerLink="/hardware" routerLinkActive="active" class="read-more02">
                            <span> Read more <i class="fa fa-chevron-right"></i> </span>
                        </a>
                    </div>
                    <div class="service-body">
                        <div class="custom-heading">
                            <a routerLink="/hardware" routerLinkActive="active">
                                <h4>Fleet Tracking</h4>
                            </a>
                        </div>
                        <p>Fleet Tracker captures real-time signals from satellite, and tracks abundant Fleet movement data in a GPS receiver or remotely transmitted to the server via GPRS/4GLTE/5G and wifi. </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="">
                <div class="services-element service-feature-box ">
                    <div class="service-media">
                        <img src="./assets/images/services/service-1-3.jpg" alt="Awesome Image" />
                        <a routerLink="/hardware" routerLinkActive="active" class="read-more02">
                            <span> Read more <i class="fa fa-chevron-right"></i> </span>
                        </a>
                    </div>
                    <div class="service-body">
                        <div class="custom-heading">
                            <a routerLink="/hardware" routerLinkActive="active">
                                <h4>Asset Tracker</h4>
                            </a>
                        </div>
                        <p>The compact & stylish built asset tracker is suitable for useful mobile asset applications like containers,yacht, yawl, baggage, bikes, people etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="">
                <div class="services-element service-feature-box ">
                    <div class="service-media">
                        <img src="./assets/images/services/service-1-4.png" alt="Awesome Image" />
                        <a routerLink="/partnership" routerLinkActive="active" class="read-more02">
                            <span> Read more <i class="fa fa-chevron-right"></i> </span>
                        </a>
                    </div>
                    <div class="service-body">
                        <div class="custom-heading">
                            <a routerLink="/partnership" routerLinkActive="active">
                                <h4>Cloud Omnitracking Platform</h4>
                            </a>
                        </div>
                        <p>Help your fleet satisfy consumer demand for fast, reliable, and streamlined service and ensure productivity in operations. </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="single-service-one">
                    <div class="image-block">
                        <img src="./assets/images/services/service-1-1.jpg" alt="Awesome Image" />
                        <a href="#" class="more-btn">Read More</a>
                        <div class="overlay-block">
                            <a class="more-link" href="#"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="text-block">
                        <h3><a href="services.html">Fleet Dash Cam</a></h3>
                        <p>Help to secure your company with maximum visibility of your vehicles.</p>
                        <a href="#" class="more-btn">Read More</a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-3">
                <div class="single-service-one">
                    <div class="image-block">
                        <img src="./assets/images/services/service-1-1.jpg" alt="Awesome Image" />
                        <div class="overlay-block">
                            <a class="more-link" href="#"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                    </div>
                    <div class="text-block">
                        <h3><a href="services.html">Fleet Dash Cam</a></h3>
                        <p>Help to secure your company with maximum visibility of your vehicles. Record crucial events with cloud-connected, continuously captured footage, and instantly find the clips you need to learn in minutes what really happened.</p>  
                    </div>
                </div>
            </div> -->

            <!-- /.col-lg-4 -->

            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- /.offer-style-one -->
<section class="about-style-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex">
                <div class="content-block my-auto">
                    <div class="title-block">
                        <!-- <span class="tag-line">Some Story</span> -->
                        <!-- /.tag-line -->
                        <h2 class="title-block">Power of Omnitracker</h2>
                    </div>
                    <!-- /.title-block -->
                    <p>Gain insight on what's actually going on in the fleet to further boost health, performance and customer support. See how our clients change their enterprises using digital telematics.</p>
                    <ul class="list-item">
                        <li><i class="far fa-circle"></i> Precise machine vision. </li>
                        <li><i class="far fa-circle"></i> Artificial Intelligence identify dangerous and impaired driving. </li>
                    </ul>
                    <!-- /.list-item -->
                    <a href="https://bit.ly/34SO75X" class="more-btn">Watch More</a>
                </div>
                <!-- /.content-block -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <iframe src="http://www.youtube.com/embed/W7qWa52k-nE" width="100%" height="390px" frameborder="0" allowfullscreen class="mt-3"></iframe>
                <!-- <img src="./assets/images/resources/story-1-1.png" alt="Awesome Image" /> -->

                <!-- /.image-block -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.about-style-one -->
<!-- <section class="mission-style-one wow fadeInUp" data-wow-duration="1300ms">
    <div class="container">
        <div class="inner-container">
            <div class="single-mission-one colr">
                <div class="count-block">
                    05+
                </div>
                <h3>Countries</h3>
            </div>
            <div class="single-mission-one colr">
                <div class="count-block">
                    150+
                </div>
                <h3>Distributors</h3>
            </div>
            <div class="single-mission-one colr">
                <div class="count-block">
                    20,000+
                </div>
            </div>
            <div class="single-mission-one colr">
                <div class="count-block">
                    25,000+
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /.mission-style-one -->
<section class="mission-style-one wow fadeInUp" data-wow-duration="1300ms">
    <div class="container">
        <div class="row inner-container">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="single-mission-one colr">
                    <div class="count-block">
                        05+
                    </div>
                    <h3>Countries</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="single-mission-one colr">
                    <div class="count-block">
                        150+
                    </div>
                    <h3>Distributors</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="single-mission-one colr">
                    <div class="count-block">
                        20,000+
                    </div>
                    <h3>Users</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="single-mission-one colr">
                    <div class="count-block">
                        25,000+
                    </div>
                    <h3>Devices</h3>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="cta-style-one-home-1 text-center">
    <div class="container">
        <div class="title-block">
            <span class="tag-line">Prmote your Brand</span>
            <!-- /.tag-line -->
            <h2>Looking for White Lableing Software</h2>
        </div>
        <!-- /.title-block -->
        <p>GPS Omnitracker lets you help your company & enterprise in a dynamic marketplace. According to you, We may customize our application which will help you get your brand more famous.</p>
        <a routerLink="/partnership" routerLinkActive="active" class="cta-btn">Get Bussiness Model</a>
    </div>
    <!-- /.container -->
</section>
<!-- /.cta-style-one -->

<!-- /.service-style-one -->

<!-- /.fun-fact-style-one -->
<section class="featured-style-one">
    <div class="container">
        <div class="row no-gutters wow fadeInUp" data-wow-duration="1300ms">
            <div class="col-lg-6 d-flex block-wrapper">
                <div class="content-block my-auto">
                    <div class="title-block">
                        <!-- <span class="tag-line">Best Professional</span> -->
                        <!-- /.tag-line -->
                        <h2>Why Love People?</h2>
                    </div>
                    <!-- /.title-block -->
                    <div class="signle-featured-one">
                        <div class="icon-block">
                            <div class="inner-block">
                                <i class="fab fa-accusoft"></i>
                                <!-- /.cameron-icon-star -->
                            </div>
                            <!-- /.inner-block -->
                        </div>
                        <!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Our Experience</h3>
                            <p>We blend creativity with expertise to allow a<br> crowd stand out. </p>
                        </div>
                        <!-- /.text-block -->
                    </div>
                    <!-- /.signle-featured-one -->
                    <div class="signle-featured-one">
                        <div class="icon-block">
                            <div class="inner-block">
                                <i class="fas fa-tv"></i>
                                <!-- /.cameron-icon-star -->
                            </div>
                            <!-- /.inner-block -->
                        </div>
                        <!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Advanced Technology</h3>
                            <p>Cutting edge Technology is read defining <br>mod citation ullamco.</p>
                        </div>
                        <!-- /.text-block -->
                    </div>
                    <!-- /.signle-featured-one -->
                    <div class="signle-featured-one">
                        <div class="icon-block">
                            <div class="inner-block">
                                <i class="fas fa-users"></i>
                                <!-- /.cameron-icon-star -->
                            </div>
                            <!-- /.inner-block -->
                        </div>
                        <!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Our Team</h3>
                            <p>Our team and resources are working to<br> ensure your progress.</p>
                        </div>
                        <!-- /.text-block -->
                    </div>
                    <div class="signle-featured-one">
                        <div class="icon-block">
                            <div class="inner-block">
                                <i class="fas fa-headset"></i>
                                <!-- /.cameron-icon-star -->
                            </div>
                            <!-- /.inner-block -->
                        </div>
                        <!-- /.icon-block -->
                        <div class="text-block">
                            <h3>24/7 Hours Support</h3>
                            <p>24x7 Services means we're still there to help<br> our clients to fulfill our goal of pleasing our customers.</p>
                        </div>
                        <!-- /.text-block -->
                    </div>
                    <!-- /.signle-featured-one -->
                </div>
                <!-- /.content-block -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <mdb-carousel [isControls]="false" [animation]="'slide'">
                    <mdb-carousel-item>
                        <img src="./assets/images/resources/whyus.png" alt="awesome image classw-100" class="w-100img">
                        <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide"> -->
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <img src="./assets/images/resources/Untitled-12.png" alt="awesome image" class="w-100img">
                        <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide"> -->
                    </mdb-carousel-item>
                    <!-- <mdb-carousel-item>
                       <img src="./assets/images/resources/whyus.png" alt="awesome image classw-100">-->
                    <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide"> -->
                    <!--  </mdb-carousel-item>-->
                    <!-- <mdb-carousel-item>
                        <img src="./assets/images/resources/whyus.png" alt="awesome image classw-100">
                    </mdb-carousel-item> -->
                </mdb-carousel>
                <!-- <div class="image-block">
                    <img src="./assets/images/resources/whyus.png" alt="awesome image">
                </div> -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.featured-style-one -->
<section class="testimonials-style-one home-page-two mt-5">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">Features of the Omnitracker Platform</span>
            <h2>What you will get in our tracking platform.</h2>
        </div>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-1.jpg" alt="awesome image">
                            </div>
                            <h3>Real-Time Fleet tracking </h3>
                            <p>Real-Time GPS Monitoring of fleets over the Web and Mobile Appliaction.</p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-2.jpg" alt="awesome image">
                            </div>
                            <h3>History Playback</h3>
                            <p> View all the journeys and routes taken on a day.Moreover we will provide you 1 Year Playback History of the Fleet.</p>
                            <!--<p class="designation">Happy Client</p>-->
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-3.png" alt="awesome image">
                            </div>
                            <h3>Driver Behavior</h3>
                            <p>See speeding, harsh acceleration & braking, sharp turn, unnecessary idling, etc.</p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-4.png" alt="awesome image">
                            </div>
                            <h3>Geo-Fences</h3>
                            <p> Geo-fences Complete control and protect your assets and business. While your Fleet will enter or Exit, you will get the alarm immediately.</p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-5.png" alt="awesome image">
                            </div>
                            <h3>Live Alerts Notifications</h3>
                            <p> Be alerted to just the events you consider important.Like Harsh Driving Alert/ Over Speed Alarm/ Fatigue Alert/ Signal Break Alarm/ Smoking Alarm/ Geo Fencing Alarm etc. </p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-6.png" alt="awesome image">
                            </div>
                            <h3>Reports & Analytics</h3>
                            <p>Data-rich reports generate analytics to help save you time and money.</p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <div class="item">
                        <div class="single-testimonials-one">
                            <div class="image-block">
                                <img src="./assets/images/resources/testi1-7.png" alt="awesome image">
                            </div>
                            <h3>Video Monitoring</h3>
                            <p>Video Motioring with Ai Embedded Dashcam for safty and security of <br>the Driver and Fleets.</p>
                        </div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</section>
<!-- /.testimonials-style-one

<!-- <section class="working-process-one">
    <div class="container">
        <div class="title-block">
            <span class="tag-line">Proccess</span>
            <h2></h2>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</section> -->



<section class="working-process-one">
    <div class="container">

        <div class="title-block">
            <!--<span class="tag-line">Proccess</span>-->
            <h2>Building GPS tracking and IoT solutions</h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="nav flex-column nav-pills pt-1 height-300" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Platform for developers</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Hardware Compatibility</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Applications</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Accessibility</a>
                    <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Unique Selling Point</a>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="tab-content height-300" id="v-pills-tabContent">
                    <div class="tab-pane fade show active " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="single-working-process-one wow fadeInUp pr-3" data-wow-duration="1300ms" data-wow-delay="0ms">
                            <!-- <h3>Platform for developers</h3> -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 relative">
                                    <p>You can easily integrate GPS Omnitracker with other systems and become a basis for partner solutions. We wired the system with special tools to make the development process fast and easy.
                                        <br>Simple SDK – a software development kit to create GPS Omnitracker-based solutions.
                                        <br>Open API – a tool to integrate GPS Omnitracker with ERP and other third-party systems.</p>
                                    <a routerLink="/hardware" routerLinkActive="active" class="cta-btn mt-4 absolut">PARTNER SOLUTIONS</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
                                    <img src="./assets/images/blog/hardwarecompatebity.png" alt="awesome image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                            <!-- <h3>Hardware Compatibility</h3> -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 relative">
                                    <p>Omnitracker supports vehicle specific equipment, machines, stationary properties, people and you can find the best tool for every project.<br> Whereas the external hardware reads temperature, weight, angle, hundreds
                                        of other multi-faceted analytics tracking parameters.</p>
                                    <a routerLink="/hardware" routerLinkActive="active" class="cta-btn mt-4 absolut">CHECK COMPATIBILITY</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <img src="./assets/images/blog/blog-2-1.jpg" alt="awesome image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                            <!-- <h3>Applications</h3> -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 relative">
                                    <p> Omnitracker comes with the planned transport control system, distribution tracking, repair control feature, driver behaviour tracking screen, and So many Other appliactions are listed here.
                                        <br> Easy Access to Emergency Road Side Support.
                                        <br>Tracking for Law Enforcement.<br> Keeping Watch on Elderly People.<br> Securing Artworks etc.
                                    </p>
                                    <a routerLink="/blog" routerLinkActive="active" class="cta-btn mt-4 absolut">GO For IN-ONE</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <img src="./assets/images/blog/blog-2-2.jpg" alt="awesome image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                            <!-- <h3>Accessibility</h3> -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 relative">
                                    <p>you can navigate the network from everywhere.<br> Using the smart devices: To continue monitoring on a smartphone or tablet we deliver a native mobile app. <br> SMS and email monitor events: feedback explains in depth
                                        what's going on with your money. <br>
                                    </p>
                                    <a routerLink="/blog" routerLinkActive="active" class="cta-btn mt-4 absolut">GO MOBILE</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <img src="./assets/images/blog/blog-3-6.jpg" alt="awesome image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">
                        <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                            <!-- <h3>Unique Selling Point</h3> -->
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 relative">
                                    <p>Omnitracker gives collaborators the patented formula for measuring fuel usage.
                                        <br> When you know the prices, the real fuel expended in varying conditions calculated by calculation will be demonstrated to the clients.<br>
                                    </p>
                                    <a routerLink="/provideservices" class="cta-btn mt-4 absolut">Test IT</a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <img src="./assets/images/blog/blog-3-3.jpg" alt="awesome image">
                                </div>
                            </div>

                            <!-- <a href="#" class="more-btn mt-4">Read More</a> -->
                            <p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-5 pl-0">
                <div class="tab-content " id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <img src="./assets/images/services/service-1-1.jpg" alt="Awesome Image" />
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <img src="./assets/images/resources/partnership-1.png" alt="Awesome Image" class="float-right" />
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>
            </div> -->
        </div>




        <!-- <div class="working-process-wrap">
            <div class="single-working-process-one wow fadeInUp pr-3" data-wow-duration="1300ms" data-wow-delay="0ms">
                <h3>Platform for developers</h3>
                <p>You can easily integrate Wialon with other systems and become a basis for partner solutions. We wired the system with special tools to make the development process fast and easy.
                    <br>Simple SDK – a software development kit to create Wialon-based solutions.
                    <br>Open API – a tool to integrate Wialon with ERP and other third-party systems.</p>
                <a routerLink="/provideservices" class="cta-btn">PARTNER SOLUTIONS</a>
            </div>
            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="500ms">
                <h3>Hardware Compatibility</h3>
                <p>Omnitracker supports vehicle specific equipment, machines, stationary properties, people and you can find the best tool for every project.<br> Whereas the external hardware reads temperature, weight, angle, hundreds of other multi-faceted
                    analytics tracking parameters.</p>
                <a routerLink="/provideservices" class="cta-btn">CHECK COMPATIBILITY</a>
            </div>
            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                <h3>Applications</h3>
                <p> Omnitracker comes with the planned transport control system, distribution tracking, repair control feature, driver behaviour tracking screen, and many more. .
                    <br>
                    <p>
                        <a routerLink="/provideservices" class="cta-btn">GO For IN-ONE</a>
            </div>

            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                <h3>Accessibility</h3>
                <p>you can navigate the network from everywhere.<br> Using the smart devices: To continue monitoring on a smartphone or tablet we deliver a native mobile app. <br> SMS and email monitor events: feedback explains in depth what's going on with
                    your money. <br>
                    <p>
                        <a routerLink="/provideservices" class="cta-btn">GO MOBILE</a>
            </div>
            <div class="single-working-process-one wow fadeInUp" data-wow-duration="1300ms" data-wow-delay="1000ms">
                <h3>Unique Selling Point</h3>
                <p>Omnitracker gives collaborators the patented formula for measuring fuel usage.
                    <br> When you know the prices, the real fuel expended in varying conditions calculated by calculation will be demonstrated to the clients.<br>
                    <a routerLink="/provideservices" class="cta-btn">Test IT</a>
                    <p>
            </div>
        </div> -->
    </div>
</section>
<!-- /.working-process-one -->
<section class="blog-style-one">
    <div class="container">
        <div class="title-block text-center">
            <span class="tag-line">News</span>
            <!-- /.tag-line -->
            <h2>Latest Articles</h2>
        </div>
        <!-- /.title-block -->
        <div class="row high-gutter">
            <div class="col-xl-6 col-lg-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <img src="./assets/images/blog/blog-1-1.jpg" alt="awesome image">
                        <div class="overlay-block">
                            <a class="more-link" href="#"><i class="fa fa-arrows-alt"></i></a>
                        </div>
                        <!-- /.overlay-block -->
                    </div>
                    <!-- /.image-block -->
                    <div class="text-block">
                        <h3><a href="blog-details.html">We Need to Rent a Room For Our Party.</a></h3>
                        <div class="meta-info">
                            <a href="#"><i class="far fa-user"></i> Admin</a>
                            <a href="#"><i class="far fa-calendar"></i> 350</a>
                            <a href="#"><i class="far fa-comment"></i> 30</a>
                        </div>
                        <!-- /.meta-info -->
                        <a routerLink="/blog" routerLinkActive="active" class="more-btn">Read More</a>
                        <!-- /.more-btn -->
                    </div>
                    <!-- /.text-block -->
                </div>
                <!-- /.single-blog-style-one -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-xl-6 col-lg-12">
                <div class="row high-gutter col1-blog-wrapper">
                    <div class="col-xl-12 col-lg-12">
                        <div class="single-blog-style-two clearfix">
                            <div class="image-block">
                                <img src="./assets/images/blog/blog-2-1.jpg" alt="awesome image">
                                <div class="overlay-block">
                                    <a class="more-link" href="#"><i class="fa fa-arrows-alt"></i></a>
                                </div>
                                <!-- /.overlay-block -->
                            </div>
                            <!-- /.image-block -->
                            <div class="text-block">
                                <h3><a href="blog-details.html">The Pink Screw ate Clumsily.</a></h3>
                                <div class="meta-info">
                                    <a href="#"><i class="far fa-user"></i> Admin</a>
                                    <a href="#"><i class="far fa-calendar"></i> 350</a>
                                    <a href="#"><i class="far fa-comment"></i> 30</a>
                                </div>
                                <!-- /.meta-info -->
                                <a routerLink="/blog" routerLinkActive="active" class="more-btn">Read More</a>
                                <!-- /.more-btn -->
                            </div>
                            <!-- /.text-block -->
                        </div>
                        <!-- /.single-blog-style-two -->
                    </div>
                    <!-- /.col-xl-12 -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="single-blog-style-two clearfix">
                            <div class="image-block">
                                <img src="./assets/images/blog/blog-2-2.jpg" alt="awesome image">
                                <div class="overlay-block">
                                    <a class="more-link" href="#"><i class="fa fa-arrows-alt"></i></a>
                                </div>
                                <!-- /.overlay-block -->
                            </div>
                            <!-- /.image-block -->
                            <div class="text-block">
                                <h3><a href="blog-details.html">The Indigo Dentures Whined Softly.</a></h3>
                                <div class="meta-info">
                                    <a href="#"><i class="far fa-user"></i> Admin</a>
                                    <a href="#"><i class="far fa-calendar"></i> 350</a>
                                    <a href="#"><i class="far fa-comment"></i> 30</a>
                                </div>
                                <!-- /.meta-info -->
                                <a routerLink="/blog" routerLinkActive="active" class="more-btn">Read More</a>
                                <!-- /.more-btn -->
                            </div>
                            <!-- /.text-block -->
                        </div>
                        <!-- /.single-blog-style-two -->
                    </div>
                    <!-- /.col-xl-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.blog-style-one -->
<!-- <section class="brands-area-one">
    <div class="container">
        <div class="brands-carousel-one owl-carousel owl-theme">
            <div class="item">
                <img src="./assets/images/brands/brands-1-1.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-2.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-3.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-4.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-5.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-1.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-2.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-3.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-4.png" alt="awesome image">
            </div>
            <div class="item">
                <img src="./assets/images/brands/brands-1-5.png" alt="awesome image">
            </div>
        </div>
    </div>
</section> -->